.upperbox {
  margin: 0;
  padding: 75px;
  background-color: lightgray;
}

.lowerbox {
  margin: 0;
  padding: 5px;
  background-color: blueviolet;
}

table,
th,
td {
  border: none;
  width: 350px;
  height: 50px;
  text-align: center;
  background-color: lightgray;
}

td,
th {
  padding: 3px;
  width: 300px;
  height: 25px;
}

.button {
  background-color: crimson;
  color: white;
  cursor: pointer;
  width: 150px;
}

img {
  border-radius: 50%;
}

ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

body {
  background-color: cyan;
}

.head {
  text-align: left;
  float: center;
}

.row {
  display: flex;
  margin-left: -5px;
  margin-right: -5px;
}

.column {
  flex: 50%;
  padding: 5px;
}

.contactinfo {
  text-align: center;
  width: 97.5%;
  padding-left: 15px;
  margin-left: 15px;
  font-style: italic;
  background-color: lightgray;
}

.image {
  float: left;
}

/* Added CSS for the navigation bar */
.navbar-nav {
  display: flex;
  align-items: center;
}

.navbar-nav.ml-auto {
  margin-left: auto;
}

.form-inline.my-2.my-lg-0 {
  margin-left: 10px;
}

.sidebar {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 200px; /* Adjust the width as needed */
  background-color: #333;
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar li {
  display: block;
}

.sidebar a {
  display: block;
  color: white;
  padding: 12px;
  text-decoration: none;
}

.sidebar a:hover {
  background-color: #111;
}


.sidebar a:hover {
  background-color: #111;
}
