/* General styles */
body {
    background-color: cyan;
  }
  
/*.profileImage {
    border-radius: 50%;
  }*/
  
  /* Upperbox styles */
  .upperbox {
    margin: 0;
    padding: 75px;
    background-color: lightgray;
  }
  
  /* Lowerbox styles */
  .lowerbox {
    margin: 0;
    padding: 5px;
    background-color: blueviolet;
  }
  
  /* Table styles */
  table,
  th,
  td {
    border: none;
    width: 350px;
    height: 50px;
    text-align: center;
    background-color: lightgray;
  }
  
  td,
  th {
    padding: 3px;
    width: 300px;
    height: 25px;
  }
  
  /* Button styles */
  .button {
    background-color: crimson;
    color: white;
    cursor: pointer;
    width: 150px;
  }
  
  /* Navigation bar styles */
  .navbar {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .navbar-brand {
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: white;
  }
  
  .navbar-nav {
    display: flex;
    align-items: center;
  }
  
  .navbar-nav li {
    margin-left: 10px;
  }
  
  .navbar-nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
  }
  
  .navbar-nav a:hover {
    background-color: #111;
  }
  
  .form-inline.my-2.my-lg-0 {
    margin-left: 10px;
  }
  
  
  /* Custom styles for specific elements */
  .head {
    text-align: left;
    float: center;
  }
  
  .row {
    display: flex;
    margin-left: -5px;
    margin-right: -5px;
  }
  
  .column {
    flex: 50%;
    padding: 5px;
  }
  
  .contactinfo {
    text-align: center;
    width: 97.5%;
    padding-left: 15px;
    margin-left: 15px;
    font-style: italic;
    background-color: lightgray;
  }
  
  
  .arrow-btn {
    position: relative;
    top: 2px;
    left: 32px;
    transform: translateY(-120%);
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
}

.arrow-btn svg {
    transition: transform 0.3s ease;
}

/* This class will rotate the arrow icon when the dropdown is shown */
.group-hover\:block:hover + .arrow-btn svg {
    transform: rotate(180deg);
}
